@import "./../shared/variable";

.faq {
    .faq-container {
        display: flex;
        margin: 50px auto;
        max-width: 1140px;
        padding: 20px 30px;
        align-content: center;


        .left-pane {
            flex: 4;
            padding: 0 30px 0 0;

            h3 {
                color: $input-label-font-color;
                font-size: 28px;
                line-height: 34px;
                font-weight: 500;
                margin-top: 30px;
            }

            p {
                color: $input-label-font-color;
                margin-bottom: 16px;
                font-size: 20px;
                line-height: 30px;
            }

            a {
                color: $secondary-font-color;
                text-decoration: none;
            }
        }

        .right-pane {
            flex: 1;

            h4 {
                color: $blue-font-color;
                font-size: 24px;
                line-height: 29px;
                font-weight: 500;
                margin-top: 30px;   
            }

            ul li a {
                color: $secondary-font-color;
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
            }

            button {
                @include valai-btn;
                margin-top: 40px;
                border-color: $blue-border-color;
                color: $default-font-color;
                font-size: 15px;
                line-height: 15px;
                border-radius: 3px;
              }
        }
    }
}