<div class="header-container">
    <div class="header-wrapper">
        <div class="logo">
            <a href="/home">
                <img src="./../../assets/img/Logo.png" />
            </a>
        </div>
        <div class="nav-links">
            <nav>
                <ul>
                    <li> <a href="/features"> Features </a> </li>
                    <li> <a href="/pricing"> Pricing </a> </li>
                    <li> <a href=""> Registration </a> </li>
                    <li> <a href="/partners"> Partners </a> </li>
                    <li> <a href=""> Contact </a> </li>
                    <li> <a href=""> Login </a> </li>
                </ul>
            </nav>
        </div>
        <div class="btn-container">
            <button> Free Registration </button>
        </div>
    </div>
</div>


<div class="topnav">
    <a href="#home" class="logo">
        <img src="./../../assets/img/Logo.png" />
    </a>
    <div id="myLinks">
        <a href=""> Features </a>
        <a href=""> Pricing </a>
        <a href=""> Registration </a>
        <a href=""> Partners </a>
        <a href=""> Contact </a>
        <a href=""> Login </a>
    </div>

    <a href="javascript:void(0);" class="icon" (click)="toggleHanburger()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
