<div class="footer-container">
    <div class="footer-wrapper">
        <section>
            <nav>
                <ul>
                    <li> <a href=""> Blog </a> </li>
                    <li> <a href="/faq"> FAQ </a> </li>
                    <li> <a href=""> Demo </a> </li>
                    <li> <a href=""> Change Log </a> </li>
                    <li> <a href="/privacy"> Privacy Policy </a> </li>
                    <li> <a href="/terms"> Terms Of Service </a> </li>
                </ul>
            </nav>
        </section>
        <section>
            <nav>
                <ul>
                    <li> <a href=""> Help </a> </li>
                    <li> <a href=""> Login </a> </li>
                    <li> <a href="/partners"> Partner </a> </li>
                    <li> <a href=""> Documentation </a> </li>
                    <li> <a href=""> Login to customer account </a> </li>
                </ul>
            </nav>
        </section>
        <section>
            <img src="./../../assets/img/Logo.png" />
            <div>Valai is management software for schools. It helps in learning, testing and administration activities. It manages all elements of school information system including students, courses, exams teachers and employees.</div>
        </section>
        <section>
            <label> CONTACT INFO </label>
            <section class="contact-info">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span> Phone </span>
                <a href="tel:923111111444" class="value"> +923 111 111 444 </a>
            </section>

            <section class="contact-info">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                <span> WhatsApp </span>
                <a href="https://api.whatsapp.com/send?phone=923445115119" class="value"> +92 344 511 5119 </a>
            </section>

            <section class="contact-info">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> Email: </span>
                <a href="mailto:sales@valai.com" class="value"> sales@valai.com </a>
            </section>


            <i class="fa fa-facebook-f social"></i>
            <i class="fa fa-instagram social"></i>
            <i class="fa fa-linkedin-square social"></i>
        </section>
    </div>
</div>