<div class="feature-container">
  <div class="feature-header-container">
    <h2>Virtual Classes (Online Classes)</h2>

    <div class="feature-information">

      <section class="feature-points">
        <p class="feature-info-text">valai School Management System is offering Virutal Classroom (online Classes)
          integrated with Zoom in order to enhance the learning procedure for students. Admins or teachers can create
          online classes from within the app and Link for meeting are both updated into students and teachers panels.
        </p>

        <p class="feature-point-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="feature-point-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="feature-point-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="feature-point-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="feature-point-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>
      </section>

      <div class="feature-video">
        <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="student-management-container">
    <h2>Student Management System Administer your Institution Smoothly</h2>
    <p>Vast school software modules set gives you 360-degree student management system starting from admission to
      pass-out. valai is a powerful and flexible student information system. As it is hosted in the cloud and always
      accessible.
    </p>
  </div>

  <div class="why-school-management-container">
    <section class="header-container">
      <h2 class="header">Why should School Management System be part of your institute?</h2>
      <p class="header-subtext">School management software which includes everything your institution will ever need</p>
    </section>

    <div class="feature-card-container">

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

      <section class="feature-card">
        <mat-icon class="material-icons-outlined card-icon">contact_mail</mat-icon>
        <p class="card-header">Basic Academics</p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

        <p class="card-text">
          <mat-icon class="material-icons-outlined">check</mat-icon>
          Preconfigured Zoom Accounts
        </p>

      </section>

    </div>
  </div>

  <ng-container>

    <div class="sis-features-container">

      <section class="sis-features-header-container">

        <h2 class="sis-features-header">Basic Academic</h2>

        <h2 class="sis-features-sub-header">Student Information System – SIS Features</h2>

        <p class="sis-features-header-text">Basic Academic Module of valai <a href="">School Management System</a>
          offers
          its user options that can be used to manage the
          basic daily works of the school management. This module includes many functionalities which makes the daily
          routine work life of the school staff much easier, efficient and foolproof.
        </p>

      </section>

    </div>

    <div class="sis-feature-description-container">

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>
    </div>
  </ng-container>

  <ng-container>

    <div class="sis-features-container">

      <section class="sis-features-header-container">

        <h2 class="sis-features-header">Management</h2>

        <h2 class="sis-features-sub-header">School and Student Management</h2>

        <p class="sis-features-header-text">
          Other than the basic core management routines there are many other
          management tasks which help the upper management staff to control all the system
        </p>

      </section>

    </div>

    <div class="sis-feature-description-container">

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>
    </div>
  </ng-container>

  <ng-container>

    <div class="sis-features-container">

      <section class="sis-features-header-container">

        <h2 class="sis-features-header">Reporting</h2>

        <h2 class="sis-features-sub-header">Customized and Flexible Reporting with Delivery Options</h2>

        <p class="sis-features-header-text">Reporting always remains the backbone of any organization. Educational
          institution level reporting is the major part of the academic structure.
        </p>

      </section>

    </div>

    <div class="sis-feature-description-container">

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>


        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>
    </div>
  </ng-container>
  <ng-container>

    <div class="sis-features-container">

      <section class="sis-features-header-container">

        <h2 class="sis-features-header">Financial</h2>

        <h2 class="sis-features-sub-header">Take care of basic financial needs to embed options</h2>

        <p class="sis-features-header-text">Incoming and outgoing of funds will remain a crucial issue for every
          educational institute
        </p>

      </section>

    </div>

    <div class="sis-feature-description-container">

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>
    </div>
  </ng-container>

  <ng-container>

    <div class="sis-features-container">

      <section class="sis-features-header-container">

        <h2 class="sis-features-header">Communication</h2>

        <h2 class="sis-features-sub-header">Multiple channels to share information between Management, Teachers,
          Parents, and Students</h2>

        <p class="sis-features-header-text">Communication is the backbone of every organization. valai school
          management system <a href="">School Management System</a>
          has multiple features to provide assistance in communicating with Parents and Students.
        </p>

      </section>

    </div>

    <div class="sis-feature-description-container">

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

    </div>
  </ng-container>

  <ng-container>

    <div class="sis-features-container">

      <section class="sis-features-header-container">

        <h2 class="sis-features-header">Student Portal</h2>

        <h2 class="sis-features-sub-header">Keep connected with your school students even they are on the go</h2>

        <p class="sis-features-header-text">
          Management of Human Resources in any organization matters a lot. valai has
          provided different features to handle human resources matters.
        </p>

      </section>

    </div>

    <div class="sis-feature-description-container">

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">
      </section>
    </div>
  </ng-container>


  <ng-container>

    <div class="sis-features-container">

      <section class="sis-features-header-container">

        <h2 class="sis-features-header">Teacher Portal</h2>

        <h2 class="sis-features-sub-header">A complete portal with student information and collaboration tools</h2>

      </section>

    </div>

    <div class="sis-feature-description-container">

      <section class="sis-feature-desc-block">

        <h2>Course Materials</h2>

        <p>
          The teacher can be assigned course material by the administrator, and they can upload their own material to
          further share with students.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Notes/Tasks</h2>

        <p>
          The teacher can maintain student based notes and task for easy class management, along with possible next
          action.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Teacher/ student communication
        </h2>

        <p>
          The teacher can message, alert whole class, a group or single students.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Assignement Management</h2>

        <p>
          A comprehensive management system where the teacher can upload, schedule assignment, receive completed
          assignments and grade them.
        </p>

      </section>
    </div>
  </ng-container>


  <ng-container>

    <div class="sis-features-container">

      <section class="sis-features-header-container">

        <h2 class="sis-features-header">Others</h2>

      </section>

    </div>

    <div class="sis-feature-description-container">

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <img src="../../assets/img/sis-img.png" alt="">

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">

        <h2>Multiple Dashboards</h2>

        <p>
          Using valai Student Management System you can register the students with different types of related details.
          Student Information System – SIS Features let you enter a different type of student information like; basic
          info, guardian info, photo upload, emergency contact details etc. Online registration for the students is also
          available. Rights of admission could be allocated to users, as many as you want.
        </p>

      </section>

      <section class="sis-feature-desc-block">
      </section>
    </div>
  </ng-container>

  <div class="about-valai">
    <h2>About valai</h2>

    <p>
      valai gets its symbolizing inspiration from the University of Al-Karauine in Fes, Morroco. The oldest university
      in the world upholding the beacon of knowledge continuously for more than two centuries proves that learning is a
      continuous process beyond time and space.
    </p>

    <p>
      valai is such an effort towards the sustainability of the course of learning for all ages through all nations
      notwithstanding the race, religion, gender and socio-economic conditions of the learners and teachers.
    </p>

    <p>References: <a href="https://www.guinnessworldrecords.com/world-records/oldest-university" target="_blank">University of
        Al-karaouin – Wikipedia</a>, <a
        href="https://www.guinnessworldrecords.com/world-records/oldest-university" target="_blank">Oldest Educational Institute
        Continually Operating</a>, <a href="http://whc.unesco.org/en/list/170" target="_blank">World
        Heritage Site – Medina Of Fez</a> </p>

  </div>




</div>
