$primary-font-color: #fff;
$secondary-font-color: #FFC525;
$default-font-color: #000;
$dark-font-color: #555555;
$input-label-font-color: #212529;
$blue-font-color: #2b79a7;
$valai-color: #a72f1e;
$header-color: #2c78a7;

$primary-header-color: #0078BA;
$grey-border-color: #CECECE;
$blue-border-color: #4487BF;

$primary-bg-color: transparent;
$pricing-card-bg-color: #f7f7f7;
$sache-bg-color: #FF0061;
$light-bg-color: #EFF8FB;
$light2-bg-color: #ebf8fb;
$grey-bg-color: #EDF0F7;
$blue-bg-color: #0097E3;
$grey-bg-color: #f5f5f5;

$primary-btn-color: #F9BE02;
$seconday-btn-color: #0080BE;
$dark-bg-color: #284152;

$icon-color-orange: #FF724C;
$icon-color-pink: #FA6FD1;
$icon-color-turquoise: #33DABD;
$icon-color-cherry: #FA6666;
$icon-color-purple: #961276;
$icon-color-cyan: #21C7FD;

$image-border-color: #bfbfbf;

@mixin primary-btn {
    @include valai-btn;
    cursor: pointer;
    color: $default-font-color;
    background-color: $primary-btn-color;
    margin-right: 10px;
}

@mixin secondart-btn {
    @include valai-btn;
    cursor: pointer;
    color: $primary-font-color;
    border-color: $seconday-btn-color;
    background-color: $seconday-btn-color;
    margin-right: 10px;
}


@mixin valai-btn {
    flex: 1;
    color: $primary-font-color;
    border: 2px solid $primary-btn-color;
    border-radius: 3px;
    padding: 12px 24px;
    background: transparent;
    font-weight: 500;
    font-size: 15px;
}
