$primary-font-color: #fff;
$secondary-font-color: #FFC525;
$default-font-color: #000;
$dark-font-color: #555555;
$valai-color: #a72f1e;


$primary-header-color: #0078BA;

$primary-bg-color: transparent;
$pricing-card-bg-color: #f7f7f7;
$sache-bg-color: #FF0061;
$light-bg-color: #EFF8FB;

$primary-btn-color: #F9BE02;
$seconday-btn-color: #0080BE;
$dark-bg-color: #284152;


@mixin primary-btn {
    @include valai-btn;
    cursor: pointer;
    color: $default-font-color;
    background-color: $primary-btn-color;
    margin-right: 10px;
}

@mixin secondart-btn {
    @include valai-btn;
    cursor: pointer;
    color: $primary-font-color;
    border-color: $seconday-btn-color;
    background-color: $seconday-btn-color;
    margin-right: 10px;
}


@mixin valai-btn {
    flex: 1;
    color: $primary-font-color;
    border: 2px solid $primary-btn-color;
    border-radius: 3px;
    padding: 12px 24px;
    background: transparent;
    font-weight: 500;
    font-size: 15px;
}
