<div class="contact-container">
  <div class="contact-wrapper">
    <h2>Sales Inquiries</h2>
    <p>Interested in learning more about feKara? Get in touch with us using the form below.
    </p>
  </div>
</div>


<div class="sales-information-container">
  <div class="sales-information">
    <div class="sales-header">
      <h3>Our Sales Team is available Monday-Friday, 4 am to 1 pm GMT</h3>
    </div>

    <div class="partner-form">
      <div class="input-field">
        <p>Your Name (required)</p>
        <section class="example-full-width">
          <input matInput>
        </section>
      </div>

      <div class="input-field">
        <p>Your Email (required)</p>
        <section class="example-full-width">
          <input matInput>
        </section>
      </div>

      <div class="input-field">
        <p>Subject (required)</p>
        <section class="example-full-width">
          <input matInput>
        </section>
      </div>

      <div class="input-field">
        <p>How did you hear about us?</p>
        <section class="example-full-width">
          <select>
            <option label="-Please Select-"></option>
            <option>Google</option>
            <option>Web Hosting</option>
            <option>Form</option>
            <option>Advertisement</option>
            <option>Facebook</option>
            <option>Twitter</option>
            <option>̱Hosting</option>
            <option>Company</option>
            <option>Referred by a friend</option>
            <option>Other</option>
          </select>
        </section>
      </div>

      <div class="input-field">
        <p>Your Message (required)</p>
        <section class="example-full-width">
          <textarea matInput></textarea>
        </section>
      </div>

      <button class="send-button">Send</button>
    </div>
  </div>

  <div class="contact-information">
    <mat-card>

      <img src="./../../assets/img/Logo.png">

      <div class="info-container">
        <section class="info">
          <h3>Cell:</h3>
          <p>+92 322 5115119</p>
        </section>

        <section class="info">
          <h3>Cell:</h3>
          <p>+92 322 2109373</p>
        </section>

        <section class="info">
          <h3>Whatsapp:</h3>
          <p>+92 322 511 5119</p>
        </section>

        <section class="info">
          <h3>Landline:</h3>
          <p>+92 322 5115119</p>
        </section>
      </div>

      <div class="professional-info">
        <div class="professional-detail">
          <mat-icon class="material-symbols-outlined">
            mail
          </mat-icon>
          <section class="info-detail">
            <p>sales@fekara.com</p>
            <p>sales@fekara.com</p>
          </section>
          </div>

          <div class="professional-detail">
          <mat-icon class="material-symbols-outlined">
            call
          </mat-icon>
          <section class="info-detail">
            <p class="info-detail-toll">Toll Free: 03 111 111 444</p>
          </section>
        </div>

        <div class="professional-detail">
          <mat-icon class="material-symbols-outlined">
            pin_drop
          </mat-icon>
          <section class="info-detail">
            <p>PECO Road, Township Office #10, 2nd floor, Glamour-1 Plaza, Lahore, Punjab 54700 Pakistan</p>
          </section>
        </div>

        <div class="professional-detail">
          <mat-icon class="material-symbols-outlined">
            support
          </mat-icon>
          <section class="info-detail">
            <p>For support requests, please visit our support center.</p>
          </section>
        </div>

        <button class="send-button support">Support Center</button>
      </div>
    </mat-card>
  </div>
</div>

<div class="map">
  <img src="../../assets/img/map.png">
</div>
