@import "./../shared/variable";

.pricing-container {

  .pricing-header {
    padding: 60px 30px;
    text-align: center;
    background-color: $pricing-card-bg-color;
    color: $dark-font-color;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 19px;
    }
  }

  .pricing-banner {
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    padding: 20px 30px;

    .banner {
      background-color: $pricing-card-bg-color;
      flex: 1;
      margin-right: 20px;

      &:last-child {
        margin: 0;
      }

      &:nth-child(3) {
        position: relative;
        overflow: hidden;

        .sache {
          background-color: $sache-bg-color;
          color: $primary-font-color;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 13px;
          text-align: center;
          position: absolute;
          width: 170px;
          height: 20px;
          padding: 5px 0;
          transform: rotate(45deg);
          right: -50px;
          top: 22px;
        }
      }
      
      .header {
        padding: 20px 0;
        background-color: $seconday-btn-color;
        color: $primary-font-color;
        text-transform: uppercase;
        text-align: center ;
      }

      .price-container {
        padding: 40px 0;
        color: $dark-font-color;
        text-align: center;

        .price{ 
          font-size: 65px;
          line-height: 1;
        }
      }

      .pricing-breakup {  

        .breakup-container {

          display: flex;
          
          .icon {
            flex: 1;
            text-align: center;
          } 
          .details {
            flex: 4;
            text-align: left;
          }
        }
      }

      button {
        margin: 30px auto;
        display: block;
        @include secondart-btn;
        border-radius: 4px;
        width: 90%;
        font-size: 13px;
      }
    }
  }

  .sign-up-free-bg {
    background-color: $dark-bg-color;
    
    .sign-up-free-container {
      max-width: 1140px;
      margin: 0 auto;
      padding: 40px 0;
      display: flex;
      color: white;
      align-items: center;
    }

    div {
      font-size: 16px;
      line-height: 24px;
      flex: 6;
      margin: 0;
      text-align: center;
      justify-content: center;
      padding: 0 30px;
    }

    button{
      @include primary-btn;
      margin: 0 auto;
      padding: 15px 20px;
    }
  }

  .pricing-footer-bg{
    background-color: $light-bg-color;

    .pricing-footer-container{
      padding: 50px 0 80px;
      max-width: 1140px;
      margin: auto;
      text-align: center;
      color: $dark-bg-color;

      h2{
        font-size: 30px;
        line-height: 30px;
        font-weight: 500;
      }
      
      p{
        font-size: 25px;
        line-height: 1.5;
        padding: 0 40px;

        a{
          color: $secondary-font-color;
        }
      }
    }

    .pricing-features-container{
      max-width: 1140px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;

      p{
        display: flex;
        gap: 3.5px;
        font-size: 15px;
        color: $dark-bg-color;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px;
        mat-icon{
          color: $secondary-font-color;
        }
      }
    }
  }
}

@media (max-width: 1064px){
  .sign-up-free-container{
    flex-direction: column;
    gap: 0.8rem;
    p{
      margin: auto;
    }
    button{
      margin: auto !important;
    }
  }
}
@media (max-width: 852px){
  .pricing-card-container{
    justify-content: space-between;
  }
  .pricing-features-container{
    flex-direction: column;
    p{
      flex: 1;
    }
  }
}
