<div class="pricing-container">
  <section class="pricing-header">
    <h2>
      Best School ERP Pricing Plans
    </h2>
    <p>
      Simple and straight forward school ERP pricing plans for any school size. No hidden charges, no extra fees plus
      FREE setup.
    </p>
  </section>


  <div class="pricing-banner">
    <div class="banner">
        <div class="header">
          Free
        </div>

        <div class="price-container">
          <div class="price">
            $0.0
          </div>
          <div class="duration">
            Monthly
          </div>
          <div class="other">
            $295 Setup charges
          </div>
        </div>

        <div class="pricing-breakup">
          <div class="breakup-container">
            <div class="icon">
              <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
            </div>
            <div class="details">50 Students</div>
          </div>
          
          <div class="breakup-container">
            <div class="icon">
              <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
            </div>
            <div class="details"> 5 Teachers</div>
          </div>

          <div class="breakup-container">
            <div class="icon">
              <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
            </div>
            <div class="details"> Basic Modules </div>
          </div>

          <div class="breakup-container">
            <div class="icon">
              <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
            </div>
            <div class="details"> Email Support </div>
          </div>

          <div class="breakup-container">
            <div class="icon">
              <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
            </div>
            <div class="details"> “Powered by feKara” Linkback </div>
          </div>

          <div class="breakup-container">
            <div class="icon">
              <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
            </div>
            <div class="details">URL you.fekara.com</div>
          </div>

          <div class="breakup-container">
            <div class="icon">
              <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
            </div>
            <div class="details"> 1 GB Storage </div>
          </div>

        </div>

        <button> FREE SIGN UP ( NO CREDIT CARD NEEDED ) </button>
    </div>

    <div class="banner">
      <div class="header">
        Free
      </div>

      <div class="price-container">
        <div class="price">
          $0.0
        </div>
        <div class="duration">
          Monthly
        </div>
        <div class="other">
          $295 Setup charges
        </div>
      </div>

      <div class="pricing-breakup">
        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details">50 Students</div>
        </div>
        
        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> 5 Teachers</div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> Basic Modules </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> Email Support </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> “Powered by feKara” Linkback </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details">URL you.fekara.com</div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> 1 GB Storage </div>
        </div>

      </div>

      <button> FREE SIGN UP ( NO CREDIT CARD NEEDED ) </button>
    </div>


    <div class="banner">
      <div class="sache">
        popular
      </div>
      <div class="header">
        Free
      </div>

      <div class="price-container">
        <div class="price">
          $0.0
        </div>
        <div class="duration">
          Monthly
        </div>
        <div class="other">
          $295 Setup charges
        </div>
      </div>

      <div class="pricing-breakup">
        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details">50 Students</div>
        </div>
        
        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> 5 Teachers</div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> Basic Modules </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> Email Support </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> “Powered by feKara” Linkback </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details">URL you.fekara.com</div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> 1 GB Storage </div>
        </div>
      </div>

      <button> FREE SIGN UP ( NO CREDIT CARD NEEDED ) </button>
    </div>


    <div class="banner">
      <div class="header">
        Free
      </div>

      <div class="price-container">
        <div class="price">
          $0.0
        </div>
        <div class="duration">
          Monthly
        </div>
        <div class="other">
          $295 Setup charges
        </div>
      </div>

      <div class="pricing-breakup">
        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details">50 Students</div>
        </div>
        
        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> 5 Teachers</div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> Basic Modules </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> Email Support </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> “Powered by feKara” Linkback </div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details">URL you.fekara.com</div>
        </div>

        <div class="breakup-container">
          <div class="icon">
            <mat-icon class="material-icons-outlined"> check_circle </mat-icon>
          </div>
          <div class="details"> 1 GB Storage </div>
        </div>

      </div>

      <button> FREE SIGN UP ( NO CREDIT CARD NEEDED ) </button>
    </div>  
  </div>


  <div class="sign-up-free-bg">
    <section class="sign-up-free-container">
      <div>feKara’s goal is to facilitate the educational institutions in management. To play our part in making the world
        a better place, we are offering feKara Basic for free to all institutions. And for non-pofits and charity
        schools, there is a 20% discount on feKara Pro.
      </div>

      <button>SIGNUP FOR FREE</button>
    </section>
  </div>

  <div class="pricing-footer-bg">
    <section class="pricing-footer-container">
      <h2>Best School ERP Pricing Plans</h2>
      <p>We will get you started with feKara as your <a>student information system</a>, starting from free setup to
        assisting
        you in migrating your existing data. We will even train your staff for the yearly leased license.
      </p>
    </section>

    <section class="pricing-features-container">
      <section>
        <p>
          <mat-icon>
            check_circle
          </mat-icon>
          Free or Paid version, we will do all initial configuration
        </p>
        <p>
          <mat-icon>
            check_circle
          </mat-icon>
          Friendly Support
        </p>
      </section>

      <section>
        <p>
          <mat-icon>
            check_circle
          </mat-icon>
          Special Pricing for chains and schools with 1000+ students
        </p>
        <p>
          <mat-icon>
            check_circle
          </mat-icon>
          Special Pricing for Non Profits
        </p>
      </section>
    </section>
  </div>
</div>
