<div class="pricing-container">
  <section class="pricing-header">
    <h2>Best School ERP Pricing Plans</h2>
    <p>Simple and straight forward school ERP pricing plans for any school size. No hidden charges, no extra fees plus
      FREE setup.</p>
  </section>

  <div class="pricing-card-container">
    <section class="pricing-card">
      <h2 class="pricing-card-header">FREE</h2>
      <h1 class="pricing-card-price">0.0</h1>
      <p class="price-text">monthly</p>
      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>50 Students</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>5 Teachers</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Basic Modules</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Email Support</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>"Powered by fekara" Linkback</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>URL you.fekara.com</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>1 GB Storage</span>
      </p>

      <section class="free-sign-up-btn-container">
        <button class="free-sign-up-btn">FREE SIGN UP (NO CREDIT CARD NEEDED)</button>
      </section>
    </section>

    <section class="pricing-card">
      <section class="pricing-card-header">
        <h2>Yearly Unlimited</h2>
        <p>only $8.3/month when paid annually 374$ yearly savings</p>
      </section>
      <h1 class="pricing-card-price">100</h1>
      <p class="price-text">year</p>
      <p class="price-text">$295 Setup charges</p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>600 students</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Unlimited students</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Basic + Advance Modules</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Tickets + Email Support</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>you.fekara.com -or- your-own-domain.com</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Unlimited Storage</span>
      </p>

      <section class="free-sign-up-btn-container">
        <button class="free-sign-up-btn">FREE SIGN UP (NO CREDIT CARD NEEDED)</button>
      </section>
    </section>

    <section class="pricing-card popular">
      <h2 class="pricing-card-header">Monthly Unlimited</h2>
      <h1 class="pricing-card-price">39.5</h1>
      <p class="price-text">monthly</p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>600 students</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Unlimited students</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Basic + Advance Modules</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Tickets + Email Support</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>you.fekara.com -or- your-own-domain.com</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>URL you.fekara.com</span>
      </p>

      <section class="free-sign-up-btn-container">
        <button class="free-sign-up-btn">FREE SIGN UP (NO CREDIT CARD NEEDED)</button>
      </section>
    </section>

    <section class="pricing-card">
      <h2 class="pricing-card-header">Monthly Unlimited</h2>
      <h1 class="pricing-card-price">39.5</h1>
      <p class="price-text">monthly</p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>600 students</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Unlimited students</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Basic + Advance Modules</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>Tickets + Email Support</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>you.fekara.com -or- your-own-domain.com</span>
      </p>

      <p class="pricing-details-text">
        <mat-icon class="material-icons-outlined">
          check_circle
        </mat-icon>
        <span>URL you.fekara.com</span>
      </p>

      <section class="free-sign-up-btn-container">
        <button class="free-sign-up-btn">FREE SIGN UP (NO CREDIT CARD NEEDED)</button>
      </section>
    </section>
  </div>

  <div class="sign-up-free-bg">
    <section class="sign-up-free-container">
      <p>feKara’s goal is to facilitate the educational institutions in management. To play our part in making the world
        a better place, we are offering feKara Basic for free to all institutions. And for non-pofits and charity
        schools, there is a 20% discount on feKara Pro.
      </p>

      <button>SIGNUP FOR FREE</button>
    </section>
  </div>

  <div class="pricing-footer-bg">
    <section class="pricing-footer-container">
      <h2>Best School ERP Pricing Plans</h2>
      <p>We will get you started with feKara as your <a>student information system</a>, starting from free setup to
        assisting
        you in migrating your existing data. We will even train your staff for the yearly leased license.
      </p>
    </section>

    <section class="pricing-features-container">
      <section>
        <p>
          <mat-icon>
            check_circle
          </mat-icon>
          Free or Paid version, we will do all initial configuration
        </p>
        <p>
          <mat-icon>
            check_circle
          </mat-icon>
          Friendly Support
        </p>
      </section>

      <section>
        <p>
          <mat-icon>
            check_circle
          </mat-icon>
          Special Pricing for chains and schools with 1000+ students
        </p>
        <p>
          <mat-icon>
            check_circle
          </mat-icon>
          Special Pricing for Non Profits
        </p>
      </section>
    </section>
  </div>
</div>
