@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular/Poppins-Regular.eot');
    src: url('../assets/fonts/Poppins-Regular/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Poppins-Regular/Poppins-Regular.svg#Poppins-Regular') format('svg'),
         url('../assets/fonts/Poppins-Regular/Poppins-Regular.ttf') format('truetype'),
         url('../assets/fonts/Poppins-Regular/Poppins-Regular.woff') format('woff'),
         url('../assets/fonts/Poppins-Regular/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  