<div class="signup">
    <div class="signup-container">
        <div class="signup-wrapper">
        <h2> Your Key to Success Free School Software Registration </h2>
        <p>Do you really need it? This will help you decide! Don’t just sit there! Start free school software registration </p>
        </div>
    </div>

    <div class="signup-details">
        <div class="left-pane">
            <h2>
                Free App: valai School Management System
            </h2>

            <div>
                valai helps management manage all aspects of the school including students, examinations, and employees. Use valai Totally Free.
            </div>

            <section class="plan-info">
                <span class="material-symbols-outlined">
                    done
                </span>
                <span class="detail">
                    Get free School Management Software App
                </span>
            </section>

            <section class="plan-info">
                <span class="material-symbols-outlined">
                    done
                </span>
                <span class="detail">
                    Options to include demo data
                </span>
            </section>

            <section class="plan-info">
                <span class="material-symbols-outlined">
                    done
                </span>
                <span class="detail">
                    Personalized School App in the Cloud
                </span>
            </section>

            <section class="plan-info">
                <span class="material-symbols-outlined">
                    done
                </span>
                <span class="detail">
                    Takes 5 Minute to setup.
                </span>
            </section>

            <button class="primary-btn"> 
                <a href="/signup">Sign Up</a>
            </button>
        </div>
        <div class="right-pane">
            <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>