@import "./../shared/variable";

.signup { 
  .signup-container { 
      background-color: $light2-bg-color;
      width: 100%;
    
      .signup-wrapper {
        max-width: 1140px;
        margin: auto;
        padding: 53px 30px;
        text-align: center;
    
        h2 {
          color: $header-color;
          font-weight: 500 !important;
          font-size: 30px;
          font-family: "Poppins", sans-serif;
        }
    
        p {
          color: $input-label-font-color;
          font-size: 20px;
          line-height: 1.5;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        }
      }
    }

    .signup-details{
      display: flex;
      max-width: 1140px;
      margin: 30px auto;
      padding: 20px 30px;
      text-align: left;

      .left-pane{
        flex: 1;
        padding-top: 15px;

        h2 {
          color: $blue-font-color;
          font-size: 24px;
          line-height: 24px;
          font-weight: 400;
        }

        div {
          font-size: 18px;
          line-height: 27px;
          font-weight: 400;
          color: $default-font-color;
          margin-bottom: 20px;
        }

        .plan-info {
          display: flex;
          align-items: center;
          padding: 8px 0;
          
          .material-symbols-outlined {
            font-size: 20px;
            color: #ffbb00;
            font-weight: 700;
            margin-right: 5px;
          }
          
          .detail {
            font-size: 16px;
            line-height: 24px;
          }
        }
        .primary-btn {
          @include primary-btn;
          margin-top: 20px;

          a {
            text-decoration: none;
            color: $default-font-color;
          }
        }
      }
      .right-pane{
        flex: 1;

        iframe {
         width: 560px;
         height: 315px;
        }
      }
    }
  }


@media (max-width: 630px) {
  .signup {
    .signup-details{
      flex-direction: column;
      padding-top: 0;

      .right-pane {
        margin-top: 20px;
        iframe {
          width: 360px;
          height: 215px;
        }
      }
    }
  }
}
