<div class="privacy">
    <h2> Privacy Policy</h2>
    <p>
        feKara.com respects your privacy and we are committed to protect your privacy. This privacy policy is intended to elaborate the terms and conditions for the use of our website. We reserve the right to change this privacy policy without any prior notice to our users. You should make sure to check these pages for any changes. This policy comes into effect as you read this page.
    </p>
    <h4>
        <strong>Data Security</strong>
    </h4>
    <p>
        We strive and committed to maintain the most up to date reasonable physical, electronic and procedural protocols to safeguard your data and information.
    </p>
    <p>
        We also maintain the highest security protocols to safeguard your hosted data from any loss, theft, unauthorized access, misuse, disclosure, alteration and destruction.
    </p>
    <h4>
        <strong>Information Collection</strong>
    </h4>
    <p>
        In all possibility, we may collect information about your name, job title, contact information and email ID, demographic information, preferences and interests.
    </p>
    <p>
        We do not ask and collect any information about you when you visit our website. You may require providing us your personal information when you sign up for any services.
    </p>
    <p>
        We may collect your billing information when you sign up for any of our charged service. In this connection you may require to provide us information about your credit card number, bank account details or any such information that we may require to administer you an invoice of our services or products.
    </p>
    <h4>
        <strong>How We Use Collected Information</strong>
    </h4>
    <ul>
        <li>We may use and share your personal information, billing information, and other information in the manner described below;</li>
        <li>We may use your personal and other information to solicit feedback, administer you our service and product brochures or any other such materials.</li>
        <li>We may use this information to analyze our system for better customer services to our valued customers/users. We may use this information in aggregated form to maintain and manage our products/services. The data in aggregated form does not contain your personal information; however, we can share with this aggregated data with our agents, sales staff, affiliates, and other business partners. We may use this aggregated data in statistical and descriptive form with our affiliates, business partners and prospective clients. We may employ third parties to conduct certain functions on this data on our behalf that can include but not limited to marketing, billing, customer service, etc. These third parties may have access to your personal data only to the extent permitted by law.</li>
        <li>We may access your hosted data to fulfill our contractual obligations with you under <a href="/terms">terms of services</a>. We may also employ third parties or their services in whole or in part. We may deploy our technical team to access your hosted data to monitor the system environment and performance and fix any problem therein. The technical team may implement or upgrade the running systems and any copy of your hosted data created for this purpose is maintained for the time.</li>
        <li>If in lawful manners we or any of our affiliate or any subsidiary of ours acquires all or part of our assets, your data will be transferred in that manner as other business assets.</li>
        <li>We may disclose your information to the extent permitted by law, required by law, ordered by a court of law or any other law enforcement agency of the government. We may also disclose this information when we deem disclosure fit, advisable or necessary.</li>
    </ul>
    <h4>
        <strong>How Do We Use Cookies?</strong>
    </h4>
    <ul>
        <li>Cookies are small files that reside on your hard drive after seeking permission. Cookies help us to analyze web traffic and let us know when you visited our website. Cookies also allow web applications to respond to your requests as an individual thus making application tailor-made for your needs, likes and dislikes. At the same time, cookies gather and remember information about your preferences.</li>
        <li>We also use traffic log cookies to identify which particular page of the website is under use. This information helps us to improve our web pages according to user needs. This information is used only for statistical analyses and the data is removed from the system as soon as the analysis is completed.</li>
        <li>In overall, cookies help us to provide you a better website by monitoring which pages are useful for you and which pages are not. Cookies do not provide us access to your system or any other information about you than the data you voluntarily share with us.</li>
        <li>You are liberty to choose or decline cookies. Most of the web browsers automatically accept cookies but you can decline cookies by changing settings of your web browser. This may, however, be able to bar you from taking full advantage of the website.</li>
    </ul>
    <h4>
        <strong>Links to Other Websites</strong>
    </h4>
    <p>
        You may find links to other websites of your interest on our website. We, however, make it explicitly clear that once you choose to use these links leave our website, we do not have any control or obligation. In this case, we are not and cannot be held responsible for the protection and privacy of your information that you provide while visiting these web sites. These web sites and any of their policy do not cover under our privacy policy statement.
    </p>
    </div>