<div class="home-container">
    <div class="sms">
        <div class="sms-wrapper">
            <div class="left-pane">
                <h2> School Management Software</h2>
                <h6>Free School Software to manage your school as you want, starting from admissions to attendance and exams to result cards.</h6>
                <div class="btn-container">
                    <button class="primary-btn"> Sign Up</button>
                    <button> Start using free </button>
                </div>
            </div>
            <div class="right-pane">
                <img src="../../assets/img/sms.png" alt="">
            </div>
        </div>
    </div>

    <div class="setup">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
        <div class="setup-details">
            <div class="title">
                Easily Setup your Online School Management Software
            </div>
            <hr />
            <div class="desc">
                Online School Management System simplify and automate daily tasks & operations easily. If you are looking for an out of the box online school software, then feKara is your choice.
            </div>
        </div>
    </div>

    <div class="admin-sw">
        <div class="admin-sw-container">

            <div class="admin-sw-details">
                <div class="title">
                    All in One Web Based School Administration Software
                </div>
                <div class="desc">
                    School Administration Software offers one common school database systems and configurable user profiles for everyone in your school. It’s allowing administration, teachers, students and parents to share the information with each other.
                </div>
                
                <button class="primary-btn"> Signup! Its free</button>
            </div>

            <img src="../../assets/img/macbook.png" alt="">
        </div>
    </div>
    
    <div class="why-valai">
        <img src="../../assets/img/mobile.png" alt="">

    </div>
</div>