<div class="home-container">
    <div class="sms">
        <div class="sms-wrapper">
            <div class="left-pane">
                <h2> School Management Software</h2>
                <h6>Free School Software to manage your school as you want, starting from admissions to attendance and exams to result cards.</h6>
                <div class="btn-container">
                    <button class="primary-btn"> Sign Up</button>
                    <button> Start using free </button>
                </div>
            </div>
            <div class="right-pane">
                <img src="../../assets/img/sms.png" alt="">
            </div>
        </div>
    </div>

    <div class="setup">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
        <div class="setup-details">
            <div class="title">
                Easily Setup your Online School Management Software
            </div>
            <hr />
            <div class="desc">
                Online School Management System simplify and automate daily tasks & operations easily. If you are looking for an out of the box online school software, then valai is your choice.
            </div>
        </div>
    </div>

    <div class="admin-sw">
        <div class="admin-sw-container">

            <div class="admin-sw-details">
                <div class="title">
                    All in One Web Based School Administration Software
                </div>
                <div class="desc">
                    School Administration Software offers one common school database systems and configurable user profiles for everyone in your school. It’s allowing administration, teachers, students and parents to share the information with each other.
                </div>
                
                <button class="primary-btn"> Signup! Its free</button>
            </div>

            <img src="../../assets/img/macbook.png" alt="">
        </div>
    </div>
    
    <div class="why-valai">
        <div class="title"> Why Va<span class="valai-color">l</span>ai </div>

        <main>
            <div class="left-pane">
                <article>
                    <div> Easy to Use Mobile App </div>
                    <i class="fa fa-mobile orange" aria-hidden="true"></i>
                </article>
            
                <article>
                    <div> Student Reports </div>
                    <i class="fa fa-files-o pink" aria-hidden="true"></i>
                </article>
            
                <article>
                    <div> Basic Academic </div>
                    <i class="fa fa-list turquoise" aria-hidden="true"></i>
                </article>
            
                <article>
                    <div> Flexible Pricing </div>
                    <i class="fa fa-dollar cherry" aria-hidden="true"></i>
                </article>

                <article>
                    <div> Fees & Finances </div>
                    <i class="fa fa-search purple" aria-hidden="true"></i>
                </article>
            </div>
            
            <img src="../../assets/img/mobile.png" alt="">

            <div class="right-pane">
                <article>
                    <i class="fa fa-weixin purple" aria-hidden="true"></i>
                    <div> Communication </div>
                </article>
            
                <article>
                    <i class="fa fa-headphones orange" aria-hidden="true"></i>
                    <div> Unmatched Support </div>
                </article>
            
                <article>
                    <i class="fa fa-lock pink" aria-hidden="true"></i>
                    <div> Secure and Reliable </div>
                </article>
            
                <article>
                    <i class="fa fa-share-alt cyan" aria-hidden="true"></i>
                    <div> Student and Parent Portals </div>
                </article>

                <article>
                    <i class="fa fa-connectdevelop turquoise" aria-hidden="true"></i>
                    <div> Customizable </div>
                </article>
            </div>
        </main>

    </div>

    <div class="more-sms">
        <div class="more-sms-wraper">
            <h2 for=""> Explore <span class="valai-color"> More </span> School Management System Modules </h2>

            <div class="features">
                <div class="row">
                    <div class="box">
                        <img src="../../assets/img/Admission.png" />
                        <div class="title"> Admission </div>
                        <div class="desc"> Management System </div>
                    </div>

                    <div class="box">
                        <img src="../../assets/img/Attendance.png" />
                        <div class="title"> Attendance </div>
                        <div class="desc"> Management System </div>
                    </div>

                    <div class="box">
                        <img src="../../assets/img/Examination.png" />
                        <div class="title"> Examination </div>
                        <div class="desc"> Management System </div>
                    </div>

                    <div class="box">
                        <img src="../../assets/img/LMS.png" />
                        <div class="title"> Online Class </div>
                        <div class="desc"> Management System </div>
                    </div>

                    <div class="box">
                        <img src="../../assets/img/Finance.png" />
                        <div class="title"> Finance </div>
                        <div class="desc"> Management System </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box">
                        <img src="../../assets/img/SMS-1.png" />
                        <div class="title"> Student </div>
                        <div class="desc"> Management System </div>
                    </div>

                    <div class="box">
                        <img src="../../assets/img/TMS.png  " />
                        <div class="title"> Timetable </div>
                        <div class="desc"> Management System </div>
                    </div>

                    <div class="box">
                        <img src="../../assets/img/Admin.png" />
                        <div class="title"> Administration </div>
                        <div class="desc"> Management System </div>
                    </div>

                    <div class="box">
                        <img src="../../assets/img/Transport.png" />
                        <div class="title"> Transport  </div>
                        <div class="desc"> Management System </div>
                    </div>

                    <div class="box">
                        <img src="../../assets/img/Library.png" />
                        <div class="title"> Library </div>
                        <div class="desc"> Management System </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="teacher">
        <div class="teacher-container">
            <div class="teacher-details">
                <div class="title">
                    Learn more about valai management software why it’s being used by small to medium size schools / colleges in over 40 countries
                </div>
                <button class="primary-btn"> Learn More </button>
            </div>

            <img src="../../assets/img/teacher.png" alt="">
        </div>

        <div class="web-container">
            <img src="../../assets/img/software.png" alt="">

            <div class="web-details">
                <div class="title">
                    valai is a Web Based Application:
                </div>
                <div class="desc">
                    A free school software which is always online, that means you can access it on your phone, laptop or computer from anywhere. There is no additional setup required on school premises, no need to take care of your backup as well as data securing. All you need to do is to sign up for a free account and start using it.
                </div>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="features-container">
                <div class="box">
                    <img src="../../assets/img/f1.png" alt="">
                    <div class="title"> Customizable </div>
                    <div class="desc"> We have engineered valai school software to be highly customization to cater the specific needs of your institute. </div>
                </div>

                <div class="box">
                    <img src="../../assets/img/f2.png" alt="">
                    <div class="title"> Mobile and tablet versions </div>
                    <div class="desc"> Use valai management software for schools on your mobile phone or tab. We have designed phone version for Institutional Heads on the move. </div>
                </div>

                <div class="box">
                    <img src="../../assets/img/f3.png" alt="">
                    <div class="title"> Hosted on Cloud Servers </div>
                    <div class="desc"> valai the best data management systems for schools, all you need is a computer (or handheld device) and an internet connection. There is no need for any extra setup, cloud based means that you can put as much schools data as you want. </div>
                </div>

                <div class="box">
                    <img src="../../assets/img/f4.png" alt="">
                    <div class="title"> Secure and Reliable </div>
                    <div class="desc"> You can trust on valai, to store your school database systems. It is built on security guidelines for modern web applications. We make daily backups of your school data and you have also options to take your own backups. </div>
                </div>

                <div class="box">
                    <img src="../../assets/img/f5.png" alt="">
                    <div class="title"> Unmatched Support </div>
                    <div class="desc">No school can start using management software without a professional support. Our support gets you started by helping you import existing students & other records. Our multi-channel support includes email, ticketing system, WhatsApp and Phone. </div>
                </div>

                <div class="box">
                    <img src="../../assets/img/f6.png" alt="">
                    <div class="title"> Wide Range of Features </div>
                    <div class="desc"> Valai offers wide range of features than any other private school management system software in the market. It’s practical and widely used and still enhancing. You will be auto-updated as new features are added. </div>
                </div>
        
                <div class="box">
                    <img src="../../assets/img/f7.png" alt="">
                    <div class="title"> Flexible Pricing</div>
                    <div class="desc"> valai is available as Free School Software and we also have flexible pricing plans for institutions of different sizes. You can start with free plan and can upgrade to paid when required. </div>
                </div>

                <div class="box">
                    <img src="../../assets/img/f8.png" alt="">
                    <div class="title"> Multiple Language Support </div>
                    <div class="desc"> valai is a multi-lingual school software, it’s easily translatable into your own language. We have made even a web interface that allows you to easily translate or rephrase or change any label/text to suit your school, college needs.</div>
                </div>

                <div class="box">
                    <img src="../../assets/img/f8.png" alt="">
                    <div class="title"> Multiple Language Support </div>
                    <div class="desc"> valai is a multi-lingual school software, it’s easily translatable into your own language. We have made even a web interface that allows you to easily translate or rephrase or change any label/text to suit your school, college needs.</div>
                </div>
        </div> 
    </div>

    <div class="erp">
        <div class="erp-container">
            <div class="erp-details">
                <div class="title">
                    A Complete School ERP Software
                </div>
                <div class="desc">
                    School Administration Software offers one common school database systems and configurable user profiles for everyone in your school. It’s allowing administration, teachers, students and parents to share the information with each other.
                </div>
                
                <button class="primary-btn"> Check Details Here </button>
            </div>

            <img src="../../assets/img/mac-open.png" alt="">
        </div>
    </div>
</div>