@import "./../shared/variable";

.home-container {
    .sms{
        background: url('./../../assets/img/bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        .sms-wrapper {
            display: flex;
            margin: 0 auto;
            max-width: 1140px;
            padding: 20px 30px;
            align-content: center;
            align-items: center;

            .left-pane {
                flex: 1;
                
                h2  {
                    margin: 0;
                    font-size: 54px;
                    color: $primary-font-color;
                    line-height: 1;
                    margin-bottom: 20px;    
                }

                h6 {
                    margin: 0;
                    font-size: 22px;
                    color: $primary-font-color;
                    margin-bottom: 20px;
                }

                .btn-container {
                    flex: 1;
                    justify-content: space-evenly;
                    align-items: center;
        
                    button {
                        @include valai-btn;
                    }

                    .primary-btn {
                        @include primary-btn;
                    }
                }
            }

            .right-pane {
                flex: 1;
            }
        }
    }
    .setup {
        text-align: center;
        display: flex;
        align-items: center;
        max-width: 1140px;
        padding: 40px 30px;
        margin: 0 auto;

        .setup-details {
            flex: 1;
            text-align: left;
            margin-left: 40px;
            width: 70%;

            .title {
                font-size: 30px;
                font-weight: 500;
                line-height: 40px;
            }
            hr {
                border: 1px solid $secondary-font-color;
                margin: 30px 0;
                width: 30%;
            }
            .desc {
                font-size: 18px;
                line-height: 27px;
            }
        }
    }

    .admin-sw {
        background: $dark-bg-color;

        .admin-sw-container{
            margin: 0 auto;
            max-width: 1140px;
            padding: 20px 30px;
            display: flex;
            align-items: center;

            .admin-sw-details{ 
                color: $primary-font-color;
                flex: 1;
                padding: 0 30px;

                .title {
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 40px;
                    margin-bottom: 30px;
                }
            
                .desc {
                    font-size: 18px;
                    line-height: 27px;
                    margin-bottom: 40px;
                }

                .primary-btn {
                    @include primary-btn;
                    text-transform: uppercase;
                }
            }

            img {
                height: 400px;
                width: 540px;
            }
        }

    }

    .why-valai {
        text-align: center;
        margin: 0 auto;
        max-width: 1140px;
        padding: 20px 30px 80px;

        .title {
            font-size: 40px;
            margin: 40px auto;
            line-height: 1;

            .valai-color {
                color: $valai-color;
            }
        }
        img {
            margin: 0 auto;
            height: 500px;
        }
    }
}