<div class="home-container">
    <div class="sms">
        <div class="sms-wrapper">
            <div class="left-pane">
                <h2> School Management Software</h2>
                <h6>Free School Software to manage your school as you want, starting from admissions to attendance and exams to result cards.</h6>
                <div class="btn-container">
                    <button class="primary-btn"> Sign Up</button>
                    <button> Start using free </button>
                </div>
            </div>
            <div class="right-pane">
                <img src="../../assets/img/sms.png" alt="">
            </div>
        </div>
    </div>
    <div class="setup">
        
    </div>
</div>